@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>درباره ما</h1>
<h2>Arman Arjandian</h2>
<div>
    <style>
        img {
            width: 100%; /* Make the image take 100% of its container's width */
            height: auto; /* Maintain the aspect ratio */
        }
    </style>

    <img src="/img/1637309129956.jpg" alt="Image 1">
</div>
